*{
    box-sizing: border-box
}

Body{
    padding: 0px;
    margin: 0px;
}

main{
    width:100vw;
    min-height:100vh;
}

.img{
    width:100%;
    height:100%;
}



.nav{
    width:100%;
    height:70px;
    z-index:1;
    background-color: bisque;
    display:flex;
    flex-direction: row;
    justify-content: center;
    position:fixed;
    flex-wrap: 0, 1, 1;
}

.navBox{
    width:45%;
    float: left;
    position: relative;
    outline:0px;
}

.navbtn{
    width:100%;
    height:100%;
    display:block;
    position: relative;
    font-size: 1em;
    color:whitesmoke;
    background-color: #00A2FF;
    outline-color:#00A2FF;
    border:0px;
    justify-content: center;
    text-align: center;
    transition: 0.5s;
}

.navbtn:hover{
    font-weight: bold;
    color:whitesmoke;
    background-color:grey;
    opacity:0.7;

}

.wrapper{
    height:100%;
    padding:20px;
    padding-top:50px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: #364e5c;
}
.aContainer{
    max-width:600px;
    padding-top:50px;
    display:flex;

}

.bContainer{
    width:1200px;
    padding-top:50px;
    display:flex;
    overflow:hidden;
}
.cContainer{
    max-width:600px;
    min-height:100vh;
    padding:10px;
    padding-top:50px;
    display:flex;
    flex-direction: row;
    justify-self: center;
}
.renderCard{
    max-width:550px;
    background-color: whitesmoke;
    display:inline-block;
    margin:10px;
    padding: 10px;
}

#image{
    width:100%;
    height:100%;
    object-fit: contain;
}

#fullName{
    width:100%;
    text-align: left;
}

#newBox{
    max-width:600px;
    padding:10px;
}

#flexdiv{
    display:flex;
    flex-wrap: wrap;
}

.stylebox{
    display:flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
}
.btn{
    width:100%;
    min-width:200px;
    height:50px;
    position:relative;
    color:whitesmoke;
    background-color: #00A2FF;
    outline-color:#00A2FF;
    font-size:20px;
    margin:0px;
    padding:0px;
    border:0px;
    transition: 0.5s;

}

.btn:hover{
    background-color: grey;
    opacity: 0.5;

}

#topbtn{
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #00A2FF;
    text-decoration: none;
    opacity: 0.7; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;
    transition: 0.4;
}

#topbtn:hover{
    background-color: #00A2FF;
    opacity: 1; 
}

footer{
    text-align: center;
    padding:10px;
    background-color: #346b8a;
}
