*{
    box-sizing: border-box
}

Body{
    padding: 0px;
    margin: 0px;
}

main{
    width:100vw;
    margin:auto;
}

.nav{
    width:100vw;
    height:50px;
    background-color: bisque;
    display:flex;
    flex-direction: row;
    justify-content: center;
    position:fixed;
    flex-wrap: 0, 1, 1;
}

.navBox{
    width:100%;
    position: relative;
    outline:0px;
    background-color: blueviolet;
}

.navbtn{
    width:100%;
    height:100%;
    display:block;
    position: relative;
    font-size: 1em;
    background-color: blueviolet;
    outline-color:blueviolet;
    border:0px;
    justify-content: center;
    text-align: center;
    transition: 0.3s;
}

.navBox:hover{
    color:white;
    opacity:0.5;
    outline-color:greblueviolety;
    background-color:grey;

}

.wrapper{
    padding-top:50px;
    height:300px;
    display:flex;
    justify-content: center;
    background-color: hotpink;
}